APP_PORT=3000
APP_HOST=localhost
APP_LOG_LEVEL="debug"
APP_FILE_COMBINED_LOG="combined.log"
APP_FILE_ERROR_LOG="error.log"
APP_FILE_DEBUG_LOG="debug.log"

DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database
DB_HOST=host
DB_DIALECT=dialect
DB_POST=5432
DB_TIMEZONE=+07:00
DB_LOGGING=true

JWT_PRIVATE_KEY_PATH = src/keys/privatekey.key
JWT_PUBLIC_KEY_PATH = src/keys/publickey.pub

WHITELIST=["*"]
